.container {
  display: flex;
  align-items: center;
  gap: 100px;
}
.container div {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 50px;
}
.container div h1 {
  font-size: 72px;
  background: linear-gradient(to bottom, #194c33, #b7b7b7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container div p {
  font-size: 24px;
  font-weight: 300;
}
.hero {
  width: 100%;
  object-fit: contain;
}